
.object .inline-form {
    padding-left: 0;
    padding-right: 0;
}


td.modal-editor {
    position: relative;
}
td.modal-editor::after {
    font-family: wagtail;
    position: absolute;
    content: "d";
    top: 1em;
    right: 1em;
    font-size: 1em;
    color: #007d7e;
}

.field-inventory ul, .field-sku_map ul {
    margin: 0;
}

.field-inventory li, .field-sku_map li {
    white-space: nowrap;
}

.email-preview {
    width: 100%;
    border: 0;
    min-height: 40em;
}
