{% extends "wagtailadmin/widgets/chooser.html" %}
{% load wagtailimages_tags %}

{% block chooser_class %}product-chooser{% endblock %}

{% block chosen_state_view %}
    <div class="title">{{ product.get_title }}</div>
    {% if product.primary_image %}
    <div class="image">
        {% with product_image=product.primary_image %}
            {% image product_image.image max-155x155 class="thumbnail" alt=product.get_title %}
        {% endwith %}
    </div>
    {% endif %}
{% endblock %}

{% block edit_chosen_item_url %}{% if product %}{% url 'catalogue_product_modeladmin_edit' product.id %}{% endif %}{% endblock %}
