{% load wagtailimages_tags %}
{% load static %}

<div class="row">
    <div class="col-sm-2">
        <div class="image_container">
            {% with product_image=product.primary_image %}
                <a href="{{ product.get_absolute_url }}">
                    {% image product_image.image max-155x155 class="thumbnail" alt=product.get_title %}
                </a>
            {% endwith %}
        </div>
    </div>
    <div class="col-sm-10">
        <h2><a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a></h2>
        {% include "catalogue/partials/stock_record.html" %}
        {% include "catalogue/reviews/partials/review_stars.html" %}
    </div>
</div>

<hr>
